<!doctype html>
<head>
<title>{{file}}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror.min.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='codemirror.js') }}"></script>
<script>
$(document).ready(function () {
    $('code').each(function() {
        var template = $('#code_template').clone();

        template.find('textarea').val($(this).text());
        template.show();
        $(this).html(template);

        CodeMirror.fromTextArea($(this).find('textarea')[0], {
            lineNumbers: true,
            lineWrapping: true,
            matchBrackets: true,
            readOnly: true
        });
    });
});
</script>
</head>
<body>
<h1><a href="/{{top}}" class="up">Back</a><em>{% if top %}/{{top}}{% endif %}/</em>{{file}}</h1>
<code>{{contents}}</code>
<div id="code_template" style="display:none;"><textarea></textarea></div>
</body>

</html>
